body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#f4f6f8;
}

.login-container{

    display:flex;
    justify-content:center;
    align-items:center;

    height:100vh;

}

.login-card{

    width:400px;

    background:white;

    padding:30px;

    border-radius:12px;

    box-shadow:0 5px 20px rgba(0,0,0,.15);

    display:flex;

    flex-direction:column;

}

.login-card h1{

    text-align:center;

    margin-bottom:10px;

}

.login-card p{

    text-align:center;

    color:gray;

    margin-bottom:25px;

}

.login-card input{

    padding:12px;

    margin-bottom:15px;

    border:1px solid #ccc;

    border-radius:6px;

    font-size:16px;

}

.login-card button{

    padding:12px;

    border:none;

    border-radius:6px;

    background:#2563eb;

    color:white;

    font-size:16px;

    cursor:pointer;

}

.login-card button:hover{

    background:#1d4ed8;

}